In [1]:
t = ()

In [2]:
type(t)

tuple

In [1]:
# tuples  are immutable (An immutable object is an object whose value cannot change.)

In [ ]:
# you can perform all the task with tuple as you were able to perform with list, just you can't edit, as tuples are immutables.

In [6]:
t = ("1243", "12122","23424")

In [7]:
type(t)

tuple

In [8]:
# in list we use [] , and in type we use ()

In [10]:
t = ("12","234","232",232, "hello")

In [12]:
t[2]   #this is how you get index from a tuple.

'232'

In [15]:
t2 = ("12312",23232,2342,"vivek")

In [16]:
t2

('12312', 23232, 2342, 'vivek')

In [21]:
t + t2  #(you can add two tuple or you can append) --
#notes --> you can't change index, but you can append tuple, 
#appending is not comes in the immutable and mutable options

('12', '234', '232', 232, 'hello', '12312', 23232, 2342, 'vivek')

In [22]:
###################################### **********tuple and set**************************************

In [23]:
x = set()

In [24]:
type(x)

set

In [35]:
t4 = (121,3232,12,121,23,23,12,42,12,31, "vivek", "Vivek")

In [30]:
type(t4)

tuple

In [31]:
# here i have t4(tuple) if you want to remove all dublicate value from here and wants to keep only unique value than you can 
# write a code and using for loops and other things and can remove all the duplicate element. but if you just convert in set
# you will be achieve this

In [36]:
t4

(121, 3232, 12, 121, 23, 23, 12, 42, 12, 31, 'vivek', 'Vivek')

In [37]:
set(t4)  # here just two word code and you can remove all the duplicate elements. (we are converting tuple in set.)
               # set is case sensitive, before using set, make sure you convert tuple in upper or lower case.

{12, 121, 23, 31, 3232, 42, 'Vivek', 'vivek'}

In [38]:
s = set(t4)

In [39]:
s

{12, 121, 23, 31, 3232, 42, 'Vivek', 'vivek'}

In [40]:
for i in s:
    print(i)

3232
vivek
42
12
Vivek
23
121
31

In [41]:
s[3]    # you can't perform indexing operation in case of set, and rest of other operation you can performs.

TypeError: 'set' object is not subscriptable

In [42]:
# Build an unordered collection of unique elements. # set will give you error when you try to add nested list.

In [43]:
s = set()

In [46]:
s.add("vivek")

In [47]:
s.add(45)

In [45]:
s.add(["vivek"])  # here i tried to add nested list it gives me an error

TypeError: unhashable type: 'list'

In [48]:
s

{45, 'vivek'}

In [49]:
s.remove(45)   # you can use remove function to remove element inside form set. function

In [50]:
s

{'vivek'}

In [51]:
s.clear()  # clear function will remove all the data from set

In [52]:
s

set()

In [56]:
s = set("vivek")

In [58]:
s1 = set(" balodi")

In [59]:
s + s1    #you can't perform

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [60]:
x = {}

In [61]:
type(x)

dict

In [62]:
x1 = {32,12}

In [63]:
type(x1)

set

In [64]:
# here you can see the differences when i use empty{}. the type of data is dict, and when i put any data inside the {}, then
# type of data is set

In [65]:
x = {"name" : "vivek", "age": "322424"}

In [66]:
type(x)    #dict take input as key and value

dict

In [68]:
x1 = {"name" : "vivek", "age": "322424", 12323: 1213,True: "balodi", "key": False, "name": "hello"}

In [69]:
x1

{'name': 'hello', 'age': '322424', 12323: 1213, True: 'balodi', 'key': False}

In [ ]:
# in a dict key always unique but value can be duplicate, value wise you can store anything, like type, set, list, floating point

In [71]:
x3 = {"name" : "vivek", "age": "322424", 12323: 1213,True: "balodi", "key": False, "okay": ["vkve","balodi"], "ok": (123,42,)}

In [72]:
x3

{'name': 'vivek',
 'age': '322424',
 12323: 1213,
 True: 'balodi',
 'key': False,
 'okay': ['vkve', 'balodi'],
 'ok': (123, 42)}

In [ ]:
# notes **********************************
# 1 -- tupe you can use as key also, but set, list, dict you can't use
# 2 - you can use any type of data set as value.

In [ ]:
# if you wants to find any value form dict then

In [74]:
x3   # suppose from this dict i want key, value

{'name': 'vivek',
 'age': '322424',
 12323: 1213,
 True: 'balodi',
 'key': False,
 'okay': ['vkve', 'balodi'],
 'ok': (123, 42)}

In [76]:
x3["key"]  ## this is the way how you can get the value from a dict

False

In [77]:
x3  # now if i want to value form a list suppose balodi, so for that---<<<

{'name': 'vivek',
 'age': '322424',
 12323: 1213,
 True: 'balodi',
 'key': False,
 'okay': ['vkve', 'balodi'],
 'ok': (123, 42)}

In [78]:
x3["okay"][1]   # okay is the key, and value is a list, so from a list I just pass index of balodi.

'balodi'

In [ ]:
# suppose you have dic and as value you are using dict so how will you get the value form that dict

In [89]:
x4 = {"key": {"vivek" : "balodi", "ok": ["collage", "office"]}}

In [90]:
x4   # form this dict i want some value

{'key': {'vivek': 'balodi', 'ok': ['collage', 'office']}}

In [93]:
x4["key"]["ok"][1]   # lthis how you can find value from a dict

'office'

In [94]:
#########***********************Notes*************************************
# in case of set and dict you can't perform mathematical operations