In [1]:
c = "I am learning python"

In [2]:
c

'I am learning python'

In [ ]:
# if you give any " in between string it will give you en error

In [5]:
d = "Hello i am learning python "  with pythonlearn"

SyntaxError: invalid syntax (Temp/ipykernel_29352/1094796146.py, line 1)

In [4]:
d

'Hello i am learning python with pythonlearn'

In [6]:
# if you use a sing ' then it will not give you any error

In [7]:
d = "I am learning python from youtube you guy's also can join there"

In [8]:
d

"I am learning python from youtube you guy's also can join there"

In [9]:
len(d)  #to find the total number of character inside the string

63

In [10]:
d[42:59] # if you want to get data from the string

's also can join t'

In [13]:
d[-1:-12:-1] #if you want to reverse the string

'ereht nioj '

Print the string with the help of for loops

In [14]:
for i in d:
    print(i)

I

a
m

l
e
a
r
n
i
n
g

p
y
t
h
o
n

f
r
o
m

y
o
u
t
u
b
e

y
o
u

g
u
y
'
s

a
l
s
o

c
a
n

j
o
i
n

t
h
e
r
e

In [ ]:
# other way to do samething is----

In [16]:
for i in range(len(d)):
    print(d[i])

I

a
m

l
e
a
r
n
i
n
g

p
y
t
h
o
n

f
r
o
m

y
o
u
t
u
b
e

y
o
u

g
u
y
'
s

a
l
s
o

c
a
n

j
o
i
n

t
h
e
r
e

# how to print a string in reverse order

In [22]:
for i in range(len(d)):
    print(d[-i])

I
e
r
e
h
t

n
i
o
j

n
a
c

o
s
l
a

s
'
y
u
g

u
o
y

e
b
u
t
u
o
y

m
o
r
f

n
o
h
t
y
p

g
n
i
n
r
a
e
l

m
a

In [23]:
a = "my name is vivek balodi"

In [30]:
a.find("i")

8

In [ ]:
# task how to find the first name character index

In [39]:
b = "my name is vivek , my org name is atos"
c = b.find("name")
for i in range(len("name")):
    print(c+i)

3
4
5
6

In [36]:
# to check count of a particular data

In [40]:
b

'my name is vivek , my org name is atos'

In [41]:
b.count("n")  #there it is showing how we find the count of any data,

2

In [47]:
a = "My name is vivek balodi, my org Name is tcs"  #count is a case sensitive function

In [44]:
a.count("My") #as this is case sensitive show it is showing only one My

1

In [45]:
a.split()   #default split is white space

['My',
 'name',
 'is',
 'vivek',
 'balodi',
 'and',
 'my',
 'org',
 'Name',
 'is',
 'tcs']

In [48]:
a.split(",")   # if you want to split your string with ,

['My name is vivek balodi', ' my org Name is tcs']

In [50]:
a.split("m")   #you can also split by the any character

['My na', 'e is vivek balodi, ', 'y org Na', 'e is tcs']

In [51]:
a.upper()   #if you want to convert you sting in upper case

'MY NAME IS VIVEK BALODI, MY ORG NAME IS TCS'

In [52]:
a.lower()  #if you want to print your data in lower case

'my name is vivek balodi, my org name is tcs'

In [53]:
a.swapcase()   #swapcase means wherever you have upppe it will in lower and same for lower case

'mY NAME IS VIVEK BALODI, MY ORG nAME IS TCS'

In [56]:
" ".join(a)   # it will join a space after every character

'M y   n a m e   i s   v i v e k   b a l o d i ,   m y   o r g   N a m e   i s   t c s'

In [57]:
"v".join(a)   #this will join v after every character

'Mvyv vnvavmvev vivsv vvvivvvevkv vbvavlvovdviv,v vmvyv vovrvgv vNvavmvev vivsv vtvcvs'

In [58]:
reversed(a)  # it will reverse the data in object format but you will not understand this,

In [59]:
list(reversed(a))  # to understand reversed function you need to convert it into a list

['s',
 'c',
 't',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'N',
 ' ',
 'g',
 'r',
 'o',
 ' ',
 'y',
 'm',
 ' ',
 ',',
 'i',
 'd',
 'o',
 'l',
 'a',
 'b',
 ' ',
 'k',
 'e',
 'v',
 'i',
 'v',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'M']

In [60]:
for i in reversed(a):  #another method to reverse the stri
    print(i)

s
c
t

s
i

e
m
a
N

g
r
o

y
m

,
i
d
o
l
a
b

k
e
v
i
v

s
i

e
m
a
n

y
M

In [2]:
b = "hello india"

In [3]:
len(b)    # one way is you can use len function

11

In [5]:
# other way to do the len function is --
count = 0
for i in b:
    count = count+1
print(count)

11

In [6]:
for i in range(len(b)):
    print(b[i])

h
e
l
l
o

i
n
d
i
a

In [7]:
for i in range(len(b)):
    print(b[-i])

h
a
i
d
n
i

o
l
l
e

In [ ]:
#

In [9]:
s = "balodi"
ch = len(s) -1
while ch>=0:
    print(s[ch])
    ch =ch-1

i
d
o
l
a
b