In [3]:
a = 10
b = 12
c = a + b
print(c)

22

In [4]:
### my fist function

In [5]:
def test(x,y):   ### here i just gave name of functions and data type in function, but did't mention any kind of return so just pass
    pass

In [8]:
test  ## if i print test , it will explain function

In [11]:
test(12,21)  # the way you write the function that way you should call the function

In [12]:
def test(x,y):  ## here now i write the function 
    print(x+y)

In [13]:
test(31,12)  ## this is how i called a function

43

In [2]:
def test(x,y):      
    return x * y

In [4]:
test(1,2) + 4  #when we use return fucntin then if we add any extra element it will not give any error.

6

In [5]:
def test(x,y):
    print(x+y)

In [6]:
test(2+4)+4            #when we are using print statement, when we use extra element then it will give error..

TypeError: test() missing 1 required positional argument: 'y'

In [7]:
#### don't use print statement, only use return so this will give you same data type.

In [ ]:
# how to get multiple return form a function

In [8]:
def test(x,y,z):
    return x+y, y+z, z*x

In [9]:
test(2,4,2)

(6, 6, 4)

In [10]:
type(test(2,3,4))  # by defualt data type will be tuple.

tuple

In [12]:
m,n,v = (test(2,4,2))  ### here i am defining 3 veriable , so i can hold the data in separate-separate variable

In [13]:
m

6

In [14]:
n

6

In [15]:
v

4

In [38]:
def test4(x,y):
    return x*y, y+2, x+10

In [39]:
m, n, _ = test4(1,2)  # _ this is the meaning place holder here, it's means i don't want to print the last return so i put _

In [40]:
m

2

In [41]:
n

4

In [42]:
_

11

In [43]:
def test5(n):
    return n*2

In [45]:
test5([1,2,3,4])  ### here i am giving a list as n, so it is just multiplying n

[1, 2, 3, 4, 1, 2, 3, 4]

In [50]:
def test6(n):
    return n, n*2

In [51]:
b = test6([1,3,4,5,6,]) ## here keeping data as tuple and calling it below

In [52]:
b

([1, 3, 4, 5, 6], [1, 3, 4, 5, 6, 1, 3, 4, 5, 6])

In [53]:
b[0]

[1, 3, 4, 5, 6]

In [54]:
b[1]

[1, 3, 4, 5, 6, 1, 3, 4, 5, 6]

In [55]:
def test7(n, m = 50):  ##### here i am assigning a value to m, so when i will give input then i only need to give value for n
    return n+m

In [56]:
test7(50)  # when i call the function so i have to give only value for n, because for m i have already assigning in the function

100

In [57]:
test7(50,40)  # you can override the value of m,

90

In [58]:
def test8(x = True , y = False):
    return x+y

In [59]:
test8()   # here i have already assigning value x, and y , so at the time of calling function I don't need to assigning any value

1

In [61]:
def travel(bike = True, car = False):
    travel_plan = bike or car
    return bike, car, travel_plan

In [62]:
travel()

(True, False, True)

In [ ]:
# if without creating to many variable you want to pass values in function than agrs function will work

In [71]:
def test11(*args):   # if you want to pass any number of arguments than you can use *args
    return args

In [72]:
test11("vivek", "balodi", [1,2,3,4,4,5,5,])

('vivek', 'balodi', [1, 2, 3, 4, 4, 5, 5])

In [ ]:
# concatenate a list with function

In [2]:
def test11(* args):
    l = []
    for i in args:
        l = i+l
    return l

In [93]:
test11([1,2,3,4],[4,2,4,2], [1,4,4,7])

[1, 4, 4, 7, 4, 2, 4, 2, 1, 2, 3, 4]

In [ ]:
# in above function if i write any kind of data so it will be me error

In [4]:
test11("asdfasdfasdg", 12323, [2,12,32,4], [132,324,125,5321])

TypeError: can only concatenate str (not "list") to str

In [ ]:
# to handle this kind of error you can you if and else statements,

In [8]:
def test12(* args):
    l = []
    for i in args:
        if type(i) == list:
            l = i+l
    return l

In [9]:
test12("asdfasdfasdg", 12323, [2,12,32,4], [132,324,125,5321]) # now the same thing is working

[132, 324, 125, 5321, 2, 12, 32, 4]

In [ ]:
##kwargs  __> you can put any number of data in pair of key values

In [1]:
def test13(**kwargs):
    return kwargs

In [2]:
test13(12,32,12,12)  # it will give you en erro if you type like this

TypeError: test13() takes 0 positional arguments but 4 were given

In [5]:
test13(a=1,b=2,c=3,d=4)  # you have to pass the data in key values pair

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [6]:
# In kwargs we use to give data in pair of key and value, but internal it store data in dictionary format

In [ ]:
## data yo can give anything like list, boolen, etc

In [8]:
test13(a=["balodi","vivek",12], b=True, c= 13123, d = "hello")

{'a': ['balodi', 'vivek', 12], 'b': True, 'c': 13123, 'd': 'hello'}

In [9]:
# Notes -- args return tuple , kwargs return dictionary

#

1 - create a function 1-
	you are suppose to allow, number of mixed data and try to create a list of seperate data 
based on data type and return multiple result

2) create a function which will be able to use *args and **kwargs and it
will be able to do all list values concatination and return a list

In [23]:
def vivek(*args):
    for i in args:
        if type(i) == list:
            print(i)
        elif type(i) == tuple:
            print(i)
        elif type(i)== set:
            print(type(i), i)
        elif type(i) == dict:
            print(type(i), i)
        pass

In [26]:
vivek(12342,[123,"vivek", "balodi"], (12,32,4,345,), {123,2424,523}, {45:121,13:1313,24:132})

[123, 'vivek', 'balodi']
(12, 32, 4, 345)
<class 'set'> {2424, 123, 523}
<class 'dict'> {45: 121, 13: 1313, 24: 132}

In [28]:
def func2(*args, **kwargs):
    a = [i for i in args if type(i)== list]
    b = [i[1] for i in kwargs.items() if type(i[1]) == list]
    return a, b

In [30]:
func2([12,31,4,12,24,132], 23,13,24,[1234512,65146,], a = "asdgasdg", b= "ahsdsa")

([[12, 31, 4, 12, 24, 132], [1234512, 65146]], [])

In [42]:
def func3(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:
            if "vivek" in i[1]:
                print("I am able to find your name")
                print(i[1])
    return(kwargs)

In [43]:
func3(a=[12,24,453,35,], b=["vivek", "balodi", 12,134,34], c= ["hello", 212,23,5,453])

I am able to find your name
['vivek', 'balodi', 12, 134, 34]

{'a': [12, 24, 453, 35],
 'b': ['vivek', 'balodi', 12, 134, 34],
 'c': ['hello', 212, 23, 5, 453]}

In [44]:
l = [1,2,3,4,5]

In [47]:
for i in l:
    m = i*2:
        print(m)

SyntaxError: invalid syntax (Temp/ipykernel_9344/3370615315.py, line 2)

In [48]:
double_number = [2*n for n in l]
print(double_number)

[2, 4, 6, 8, 10]

TypeError: 'type' object is not iterable

In [26]:
def vivek2(* args):
    dt= {}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

In [27]:
vivek2(1233,[34234523],23453245,[23452345,345234523], 6+7j)

{int: [1233, 23453245],
 list: [[34234523], [23452345, 345234523]],
 complex: [(6+7j)]}