In [1]:
l = ["vivek", 23,23,5,535, ["balodi", 22,551,12,], "hello"]

In [2]:
for i in l:
    print(i)

vivek
23
23
5
535
['balodi', 22, 551, 12]
hello

In [3]:
# list is always store the data in the form of indexes

In [4]:
l[0]

'vivek'

In [5]:
l[::-1]  # if you want to reverse a list

['hello', ['balodi', 22, 551, 12], 535, 5, 23, 23, 'vivek']

In [6]:
# if you want to print only list form this list

In [8]:
for i in l:
    if type(i)==list:
        print("this is list", i)
    else:
        print("this is not a list", i)

this is not a list vivek
this is not a list 23
this is not a list 23
this is not a list 5
this is not a list 535
this is list ['balodi', 22, 551, 12]
this is not a list hello

In [9]:
l

['vivek', 23, 23, 5, 535, ['balodi', 22, 551, 12], 'hello']

In [10]:
l1 = ["balodi", 2521,454,]

In [12]:
l + l1

['vivek',
 23,
 23,
 5,
 535,
 ['balodi', 22, 551, 12],
 'hello',
 'balodi',
 2521,
 454]

In [13]:
l*2

['vivek',
 23,
 23,
 5,
 535,
 ['balodi', 22, 551, 12],
 'hello',
 'vivek',
 23,
 23,
 5,
 535,
 ['balodi', 22, 551, 12],
 'hello']

In [14]:
len(l)

7

In [16]:
True in l   #if you want to check element is available inside the list or not

False

In [18]:
23 in l

True

In [19]:
l = [23,43,4535,23243]

In [20]:
l.append("balodi")   #if you want to append something end of the list

In [21]:
l

[23, 43, 4535, 23243, 'balodi']

In [22]:
# if you want to append something in between of list then you have to use insert function
# by the help of index you can append anything at any index place

In [23]:
l

[23, 43, 4535, 23243, 'balodi']

In [24]:
l.insert(3,"vivek")

In [26]:
l   #here at 3rd index it append vivek

[23, 43, 4535, 'vivek', 23243, 'balodi']

In [27]:
l.insert(-1,"test")

In [28]:
l.insert(-1,"test")

In [29]:
l.insert(0,"test")

In [30]:
l

['test', 23, 43, 4535, 'vivek', 23243, 'test', 'test', 'balodi']

In [31]:
l.count("test")    #count function will count the element inside the list

3

In [32]:
 l = [1,2,3,4]

In [33]:
l

[1, 2, 3, 4]

In [ ]:
#there is a difference between append and extend function

In [34]:
l.append("vivek")

In [35]:
l

[1, 2, 3, 4, 'vivek']

In [36]:
l.extend("vivek")

In [37]:
l

[1, 2, 3, 4, 'vivek', 'v', 'i', 'v', 'e', 'k']

In [39]:
s="test"   #something this code is doing as extend 
list(s)

['t', 'e', 's', 't']

In [41]:
l.extend(45)  #extend is always add iterable object but in append you can add any kind of object

TypeError: 'int' object is not iterable

In [4]:
l=[23,23,345]

In [5]:
l.extend([1,2,3234])  #it will merge the list

In [6]:
l

[23, 23, 345, 1, 2, 3234]

In [8]:
l.append([1212,5454]) #append and extend both will add object at the end, append here will add list as it is

In [9]:
l

[23, 23, 345, 1, 2, 3234, [1212, 5454], [1212, 5454]]

In [17]:
l = [1,2,23,23,4]

In [11]:
l.pop()  #by default pop will return the last index, and remove the index

4

In [18]:
l

[1, 2, 23, 23, 4]

In [19]:
l.pop(0) #it will remove index from 0 index, here it will remove 1

1

In [20]:
l

[2, 23, 23, 4]

In [21]:
l = [1,24,5,6,134,6,6,123,6]

In [24]:
l.remove(6)   #this will remove 6 from the veryfirst index and will keep repeating until the last 6 has been removed

In [23]:
l

[1, 24, 5, 134, 6, 6, 123, 6]

In [25]:
l

[1, 24, 5, 134, 6, 123, 6]

In [26]:
# pop and remove index both is used to remove data, pop will remove base on the indexes and remove will remove data base on the data item

In [27]:
l.reverse()  #it will reverse the list

In [28]:
l

[6, 123, 6, 134, 5, 24, 1]

In [32]:
l.sort()  #it will short the list

In [33]:
l

[1, 5, 6, 6, 24, 123, 134]

In [34]:
l = [12,1,2,324,"vivek"]

In [35]:
l.sort() #here it will give you en error, it will only short the same type of data

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
# you have list suppose l= [12,2,3,[22,"vivek", 12], 144,121,["vivek","balodi", 1212,23],1233, 232]
Question 1- Append a list in between of this list, and a complex number
question 2- if your nested list contain string then find its index in nseted list and print it then remove the string
question 3 - you have to extract 2nd element of each nested list

In [4]:
l= [12,2,3,[22,"vivek", 12], 144,121,["vivek","balodi", 1212,23],["b", "b", "b"],1233, 232]
#first answer

l.insert(4,["vivekbalodi", 323,534545])
l.append(23+3j)
print(l)

#second answer
for i in l:
    if type(i) ==list:
        j=0
        while j <len(i):
            if type(i[j]) is str:
                print("index of string '{}' " .format(i[j]), j)
            j = j+1
        j = 0
        while j<len(i):
            if type(i[j]) is str:
                i.remove(i[j])
                continue
            j = j+1
#3rd answer
print("list after removal of the string form the nested list is \r",l,'\n')

[12, 2, 3, [22, 'vivek', 12], 144, 121, ['vivek', 'balodi', 1212, 23], ['b', 'b', 'b'], 1233, 232]
[12, 2, 3, [22, 'vivek', 12], ['vivekbalodi', 323, 534545], 144, 121, ['vivek', 'balodi', 1212, 23], ['b', 'b', 'b'], 1233, 232, (23+3j)]
index of string 'vivek'  1
index of string 'vivekbalodi'  0
index of string 'vivek'  0
index of string 'balodi'  1
index of string 'b'  0
index of string 'b'  1
index of string 'b'  2
 [12, 2, 3, [22, 12], [323, 534545], 144, 121, [1212, 23], [], 1233, 232, (23+3j)]

In [1]:
l.insert(4,["vivekbalodi",323,534545])

NameError: name 'l' is not defined

In [8]:
n = int(input("Enter a number: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j,end=" ")
    print()

Enter a number: 9
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9